@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Helzberg BackOffice</h1>
    <p>Welcome</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrRaJDX5FUujZqGGmeXsMJQJzk1BgMQAdWfQ&usqp=CAU" />
</div>
